* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navigation {
    display: flex;
    background-color: #033905;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    justify-content: space-between;
    padding: 0 20px;
}

.LOGO {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.LOGO img {
    width: 100px;
    height: 80px;
}

.title a {
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: #e9efef;
}

.LOGO:hover {
    transition: all 0.1s ease;
    transform: scale(1.1);
}

.links_menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}

.links_menu button {
    font-size: 30px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    padding: 10px;
    background-color: #FF9800;
    border: none;
    color: #e9efef;
}

.links_menu button:hover {
    background: #ffb74d;
    transition: all 0.3s ease;
    transform: scale(1.2);
}

.links_item {
    height: 80px;
}
.navigation_link{
    color: #e9efef;
    display:flex;
    font-size:20px;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    padding:0 1rem;
    height:100%;  
    position:relative;
    
}

.navigation_link::before{
    content:'';
    position:absolute;
    top:10;
    left: 0;
    width:100%;
    height:30px;
    background-color: #83c601;
    opacity:0;
    border-radius:10px;
    transition:opacity 0.3s;
}
.navigation_link:hover:before{
    opacity:1;
    z-index:-1;
}


body {
    display: flex;
    background-color: #033905;
    justify-content: center;
    align-items: center;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.personal_details {
    margin-top: 10px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.image img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-input {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.payment-number-container {
    display: flex;
    align-items: center;
}

.country-code {
    width: 70px;
    margin-right: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

.payment-number {
    flex-grow: 1;
}

.custom-select-container {
    display: flex;
    align-items: center;
    position: relative;
}

.custom-select-icon {
    width: 40px;
    height: 24px;
    margin-right: 10px;
}


button {
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #388E3C;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e7d32;
}
